.rde-contextmenu {
  position: fixed;
  -moz-animation: visibility 0.3s linear;
  -webkit-animation: visibility 0.3s linear;
  animation: visibility 0.3s linear;
  z-index: 600000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.rde-contextmenu-right {
  position: relative;
  border-radius: 4px;
  font-size: 14px;
}
.rde-contextmenu-left {
  position: relative;
  border-radius: 4px;
  font-size: 14px;
}
.rde-contextmenu.contextmenu-hidden {
  display: none;
  top: 0;
  left: 0;
}
