.rde-editor-canvas-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.rde-editor-header-toolbar {
  background: #fff;
  transition: width 0.05s linear;
  display: flex;
  height: 40px;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.75);
}
.rde-canvas-toolbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1em;
}
.rde-canvas-toolbar:not(:last-child):after {
  background-color: #000;
  position: absolute;
  right: -5px;
  width: 1px;
  height: 20px;
  content: '';
}
.rde-canvas-toolbar-list:hover .rde-canvas-list {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  z-index: 1;
  -webkit-animation: slide-right 0.3s linear;
  -moz-animation: slide-right 0.3s linear;
  animation: slide-right 0.3s linear;
}
.rde-canvas-toolbar-history {
  flex: 1;
  justify-content: flex-end;
}
.rde-canvas-toolbar-action {
  flex: 1;
  justify-content: flex-end;
}
.rde-canvas-list {
  height: 100%;
  display: flex;
  flex: 1;
  width: 100%;
}
.rde-canvas-list-actions {
  box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 1em;
}
.rde-canvas-list-items {
  overflow-y: auto;
  height: 100%;
}
.rde-canvas-list-item {
  position: relative;
  margin: 8px 8px;
  text-align: center;
  margin: 0 1em 0 1em;
}
.rde-canvas-list-item-icon {
  margin: 0 8px 0 4px;
}
.rde-canvas-list-item-text {
  font-size: 16px;
}
.rde-canvas-list-item-actions {
  margin: 0 4px 0 8px;
}
.rde-canvas-list-item.selected-item {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  margin: 0 1em 0 1em;
}
.rde-canvas-list-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.rde-canvas-list-item::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #fff;
  width: 100%;
  height: 1px;
  content: '';
}
.rde-editor-footer-toolbar {
  position: relative;
  left: calc(100vw / 2 - 200px);
}
.rde-editor-footer-toolbar-interaction {
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
}
.rde-editor-footer-toolbar-zoom {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.75);
}

.rde-action-canvas-list {
  width: 100%;
  height: 50px;
}

.dark {
  background: #001529 !important;
  color: rgba(255, 255, 255, 0.65) !important;
  background-color: #001529 !important;
  color: rgba(255, 255, 255, 1) !important;
}

.dark span {
  background: #001529;
}

.dark div {
  color: #fff;
  background: #001529;
}

.dark div:not(:last-child):after {
  background-color: #fff;
}

.dark button {
  color: inherit;
  border: 1px solid transparent;
}

.dark button[disabled] {
  color: rgba(255, 255, 255, 0.5);
}

.dark .ant-collapse {
  border: 0px solid transparent;
}

.dark .rde-canvas-list-actions {
  box-shadow: 0;
  border-bottom: 1px solid white;
}

.dark .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #fff;
}

.dark .ant-switch-inner {
  background: inherit;
}

.dark .rde-editor-footer-toolbar .ant-btn-default {
  background: inherit;
  color: inherit;
  border: 1px solid white;
}
.dark .ant-btn-primary {
  color: #000;
}
