.rde-editor {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  position: relative;
}

.rde-editor-side {
  position: absolute;
  top: 40px;
  left: 0;
  height: 100%;
  width: 240px;
  -webkit-box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
  transition: width 0.5s ease;
  background: #fff;
  overflow: hidden;
}

.rde-editor-side.minimize {
  width: 60px;
}

.ant-collapse {
  background: #fff;
}

.rde-editor-side-item {
  display: flex;
  height: 40px;
  align-items: center;
  transition: 0.5s ease;
  border: 0 solid transparent;
  position: relative;
  cursor: pointer;
}

.rde-editor-side-item-icon {
  padding: 0 8px;
  font-size: 1.5em;
  width: 40px;
  display: flex;
  justify-content: center;
}

.rde-editor-side-item-text {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
}

.rde-editor-side-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.rde-editor-canvas {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: rgba(0, 0, 0, 0.15);
}
.rde-canvas {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rde-editor-toolbar-interaction {
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 40px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.rde-editor-toolbar-zoom {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  bottom: 30px;
  left: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.rde-editor-properties:hover .rde-track-vertical {
  opacity: 1;
  z-index: 9999;
}

.rde-editor-configurations {
  position: absolute;
  overflow-y: auto;
  width: 400px;
  top: 40px;
  right: 0;
  height: 100%;
  -webkit-box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 7px -2px rgba(0, 0, 0, 0.75);
  background: #fff;
  transition: width 0.5s ease;
}

.rde-editor-configurations.minimize {
  width: 60px;
}

.rde-editor-configurations .ant-tabs .ant-tabs-content {
  padding-right: 0;
  height: 100%;
}

.rde-editor-configurations .ant-tabs .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
}

.rde-editor-configurations
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-content
  h4 {
  font-size: 16px;
  margin: 0;
}

.rde-editor-configurations
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-content
  .ant-list-item-meta-description {
  font-size: 11px;
}

.rde-editor-configurations .ant-table .ant-table-content table {
  border: 0;
  background: transparent;
}

.rde-editor-configurations
  .ant-table
  .ant-table-content
  table
  tr.selected-item {
  background: rgba(0, 0, 0, 0.25);
}

.rde-editor-configurations .ant-table .ant-table-content table tr:hover td {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
}

.rde-editor-configurations
  .ant-table
  .ant-table-content
  .ant-table-placeholder {
  background: transparent;
  border-bottom: 0;
}

.rde-editor-configurations:hover .rde-track-vertical {
  opacity: 1;
  z-index: 9999;
}

.rde-editor-configurations-console-item {
  background-color: inherit;
  padding: 4px 0 0 0;
  animation: slide-up 0.4s ease-in-out;
}

.rde-editor-configurations-console-item-content {
  position: relative;
  max-height: 0;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
}

.rde-editor-configurations-console-item-content.selected-item {
  max-height: 1000px;
}

.rde-editor-configurations-console-item-content .clipboard {
  position: absolute;
  top: 20px;
  right: 20px;
}

.rde-editor-configurations-console-item-content .popup {
  position: absolute;
  top: 20px;
  right: 50px;
}

.rde-editor-configurations-console-item.selected-item {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.rde-editor-configurations-console-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.canvas-container {
  -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.75);
}

.dark .rde-editor-side-item:hover {
  background: #d9d9d9;
  color: #000;
}

.dark .rde-editor-side-item-icon {
  background: inherit;
  color: inherit;
}
.dark .rde-editor-side-item-text {
  background: inherit;
  color: inherit;
}
